# Core ML and Scientific Libraries
torch
torchvision
torchaudio
numpy
matplotlib

# Reinforcement Learning Environment
gymnasium[box2d, pygame]

# Jupyter Notebook Support
jupyterlab
ipykernel

# For config
PyYAML